button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 15px;
}

.is-toggled {
  background-color: hsl(0, 0%, 85%);
  color: black;
}